Support the "filename*" Content-Disposition parameter

Contributor @alexeyzimarev [made me aware](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser/issues/99#issuecomment-2039428347) of the `filename*` parameter and even provided a reference to RFC6266, section 4.3 where this parameter is defined.

Note to self: the encoding of star-parameters (such as `filename*` for example) is defined in [RFC 5987](https://www.rfc-editor.org/rfc/rfc5987) which was superseded by [RFC 8187](https://www.rfc-editor.org/rfc/rfc8187.html)

@alexeyzimarev Good news I have implemented a solution to handle `filename*`. I published a beta package called HttpMultipartParser.8.4.0-filenamestar0012 to [my personal Nuget feed](https://feedz.io/org/jericho/repository/jericho). Let me know if you have a chance to test it out and if it behaves as you expected. If so, I'll publish a new version to Nuget.

@Jericho I signed up for Feedz but I don't think I have access to your personal feed. When I try following the link, I get an empty page.

My feed is public, you don't need an account or anything. Assuming you are using Visual Studio, here's show to add a feed: https://learn.microsoft.com/en-us/azure/devops/artifacts/nuget/consume?view=azure-devops&tabs=windows#set-up-visual-studio


Thanks, I know how to add package feeds although I don't use Visual Studio. The correct feed URL is `https://f.feedz.io/jericho/jericho/nuget/index.json`

Can confirm that `FileName` property returns the correct result for non-ASCII characters now. 👍 

> Can confirm that FileName property returns the correct result for non-ASCII characters now.

Excellent, thanks for confirming. I'll publish a new release in the next day or so.

> The correct feed URL is `https://f.feedz.io/jericho/jericho/nuget/index.json`

Yes indeed. In fact, this information is on the bottom of the page I linked:
![image](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser/assets/112710/7f4ea94d-e28b-4f3c-a428-a5e7a9a774a4)




That page failed to open for me. Without an account it just shows the login/sign up screen.
When I created an account and logged in, it crashes
![image](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser/assets/2821205/28330c5b-3ffc-404d-87c4-d3feb602e145)

But, never mind. I managed :)

I logged out of my account, followed the link I sent you and, to my surprise, feedz wants me log in exactly as you described. Either something changed on their end or I have been sending a link to a page that nobody can see:

![image](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser/assets/112710/965ad84e-0a5e-4295-85a8-0bcfb07d7ffe)

I'll have to figure out a better link to send to people when I want them to try a beta package. Sorry for the confusion!

No worries. I still use MyGet...

I used MyGet in the past as well, but the extended outage last summer and all the rumors of the product being shut down that ensued scared me away. That why I switched to feedz. MyGet had a URL that I could send to people that contained brief instructions on how to add my personal feed to their environment which was extremely convenient. I was under the impression that the feedz link I sent you earlier was the equivalent of that, but obviously not!

<!-- GitReleaseManager release comment -->
:tada: This issue has been resolved in version 8.4.0 :tada:

The release is available on:

- [GitHub Release](https://github.com/Http-Multipart-Data-Parser/Http-Multipart-Data-Parser/releases/tag/8.4.0)
- [NuGet Package](https://www.nuget.org/packages/Http-Multipart-Data-Parser/8.4.0)

Your **[GitReleaseManager](https://github.com/GitTools/GitReleaseManager)** bot :package::rocket:

@alexeyzimarev I wrote some [brief instructions](https://github.com/Jericho/Jericho/blob/main/MyNugetFeed.md) to add my personal feed to your Visual Studio environment and I intend to link contributors to this document in the future rather than the useless link I sent to you. If you have a few minutes, could you review it and let me know if this would have been helpful to you and also feel free to suggest improvements. Thanks.

Looks good 👍 

I would add this:

```
nuget sources Add -Name "Jericho's personal nuget feed" -Source https://f.feedz.io/jericho/jericho/nuget/index.json
```

About MyGet: yes, I know some people behind the original MyGet and they are all went somewhere else. But, overall, it's very mature. I tried used GitHub NuGet feeds but it requires authentication, so I decided to keep MyGet for now.

> I tried using GitHub NuGet feeds but it requires authentication

100% agree. I wish it didn't require authentication. That would be the perfect solution since we already use GitHub for our source code, that would eliminate the need for a 3rd party system to host our beta packages.

> I would add this: nuget sources Add -Name "Jericho's personal nuget feed" -Source https://f.feedz.io/jericho/jericho/nuget/index.json

Good feedback. Should I say something along these lines: "If you prefer to add this nuget feed by hand without using Visual Studio's settings, use the following command."?

You could make two paragraphs with headers like:

### Command line

Use the following command to add the feed...

```
nuget ...
```

### Visual Studio
....

I use Rider so neither apply but I could use the terminal of course.