It can't parse Non-ASCII field names and values.

It can't parse Non-ASCII values field names and values( filename etc), specially  CJK like "한글"

https://tools.ietf.org/id/draft-ietf-appsawg-multipart-form-data-06.html#non-ascii-fields

I fixed it temporarily by referring to the URL below.
https://github.com/grumpydev/RFC2047-Encoded-Word-Encoder-Decoder

1. Added RFC2047.cs
2. `ParseSection()` and `ParseSectionAsync()` in `StreamingMultipartFormDataParser` class fixed.

```c#
                Dictionary<string, string> values = SplitBySemicolonIgnoringSemicolonsInQuotes(line)
                    .Select(x => x.Split(new[] { ':', '=' }, 2))

                    // select where the length of the array is equal to two, that way if it is only one it will
                    // be ignored as it is invalid key-pair
                    .Where(x => x.Length == 2)

                    // Limit split to 2 splits so we don't accidently split characters in file paths.
                    .ToDictionary(
                        x => x[0].Trim().Replace("\"", string.Empty).ToLower(),
                        x => RFC2047.Decode(x[1]).Trim().Replace("\"", string.Empty));
```



Can you give me more information about your scenario and a few examples as well (to help me reproduce)?


Hi! Is this issue fixed now?

I never heard back from @succeun and never received additional info that would have allowed me to reproduce so I did not invest time to investigate further.

Why are you asking? Are you facing similar situation? Can you provide the info I asked for to reproduce?

I consider production usage of your code.

@Jericho it seems that the parser doesn't consider `filename*` parameter in content disposition header of the section.

For example, there's a part with content disposition as:
```
form-data; name="file"; filename="Pr�sentation_Export.zip"; filename*=utf-8''Pr%C3%A4sentation_Export.zip
```

This code:
```csharp
var form = await MultipartFormDataParser.ParseAsync(stream);
var fileSection = form.Files[0];
var fileName = fileSection.FileName;
```

sets `fileName` to `Pr�sentation_Export.zip`, but it should be `Präsentation_Export.zip` because, instead of using the `filename` parameter, it should prioritise `filename*` and use the encoding specified there (UTF8 in this case) to decode the filename properly.

@alexeyzimarev I am not familiar with `filename*`. Can you point me to some documentation about it? It's not mentioned in any of the internet standard RFCs that I'm aware of.

Sure: https://httpwg.org/specs/rfc6266.html#rfc.section.4.3

> The parameters "filename" and "filename*" differ only in that "filename*" uses the encoding defined in [[RFC5987]](https://httpwg.org/specs/rfc6266.html#RFC5987), allowing the use of characters not present in the ISO-8859-1 character set ([[ISO-8859-1]](https://httpwg.org/specs/rfc6266.html#ISO-8859-1)).

> Many user agent implementations predating this specification do not understand the "filename*" parameter. Therefore, when both "filename" and "filename*" are present in a single header field value, recipients SHOULD pick "filename*" and ignore "filename". This way, senders can avoid special-casing specific user agents by sending both the more expressive "filename*" parameter, and the "filename" parameter as fallback for legacy recipients (see [Section 5](https://httpwg.org/specs/rfc6266.html#examples) for an example).

@alexeyzimarev I raised [a separate issue to track this new feature](#120). Although similar to the issue discussed in this issue, I don't want to hijack this issue.

@succeun A few thoughts:
1. RFC 7578 states the following: `For broadest interoperability with existing deployed software, those creating forms SHOULD avoid non-ASCII field names.`. This means that while non-ascii fields are not prohibited, their use is strongly discouraged.
2. When non-ASCII fields are used, we cannot be 100% certain what encoding logic was used. In your scenario, the technique described in RFC 2047 was used but there is no guarantee that will be the case in every scenario. In fact, RFC 7578 section 5.1.3 gives three examples of different encoding logics that may be used. This makes it hard for our parser to **reliably** detect which encoding logic was used. 
3. I was unable to obtain additional info and sample data to help me reproduce this situation or to engage in a meaningful discussion about this scenario.

For all these reasons, and after careful consideration, I have decided not to investigate this situation any further. Feel free to reopen this issue if you want to share additional details and/or if you want to discuss it further.